body{
  background: #ffffff url("img/bg.jpg") repeat right top;
  color: white;
	font-family: Myriad, sans-serif;
}
.container{
  width: 100%;
  height: 400px;
  background-color: gray;
}
table{
  margin-left: 20%;
  background-color: gray;
}
td{
  width: 100px;
}
td img{
    height: 300px;
}
.header{
  width: 100%;
  height: 100px;
  background-color: black;
}
.header span{
  margin-left: 25%;
  margin-top: 10%;
  font-size: 60px;
}
.footer{
  width: 100%;
  height: 100px;
  background-color: black;
}
.footer span{
  color: white;
  margin-left: 30%;
}
#logout{
  color: white;
  float: right;
}
